@charset "utf-8";

/* base style */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color:#EFEFEF;
    overflow: hidden;
    font-size:18px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

hr {
    margin:10px 5px;
    padding:0px;
}

a {
    cursor: pointer;
}

input[type="text"], input[type="password"], textarea, select {
    margin: 1px 0;
    border: 1px solid #d0d0d0;
    background-color: #50c0f010;
    border-radius: 2px;
}

select {
    padding:1px 0 1px 0;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    outline:1px solid #50c0f0;
    background-color: #f0fdfd;
    -webkit-box-shadow: rgba(80,192,240,0.05) 0 1px 1px;
    box-shadow: rgba(80,192,240,0.05) 0 1px 1px;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
    background-color: #f0fdfd;
}

input[type="file"] {
    color:#333333;
    border-radius: 2px;
}

/* common style */
#main {
    padding:0;
    background-color:#F0F0F0;
}
#header {
    -webkit-box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    position: fixed;
    top:0px;
    left:0px;
    height:45px;
    width:100%;
    background-color:#00c0f0;
    border-bottom:1px solid #00a0d0;
    color:#ffffff;
    padding:6px;
}
#header #ap-logo-area {
    padding-right:1px;
    display:inline;
}
#header #select-lang-area {
    padding-right:10px;
    font-size:20px;
    font-weight: bold;
    float:right;
}
#header #select-lang-area a {
    color:#ffffff;
    font-weight: bold;
}
#header #select-lang-area a:hover {
    color:#ffffff;
}


#header #ap-logo {
    height:35px;
    width:180px;
    cursor:pointer;
}
#header #ap-logo:hover {
    animation: ap_logo_hover 150ms ease-in-out 50ms 1 alternate both;
}
@keyframes ap_logo_hover {
    100% {opacity: 0.9;}
}

#header #org-name-area {
    font-size:18px;
    font-family: meiryo;
    margin:4px 6px 0 0;
    float:right;
}

#header #navigation-toggle {
    background-color:#50c0f0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top:2px;
    width:30px;
    height:30px;
    cursor:pointer;
    float:right;
}
#header #navigation-toggle:hover {
    opacity: 0.95;
}
#header #navigation-toggle:active {
    margin-top:3px;
}
#header #navigation-toggle #icon div {
    margin:5px auto 0 auto;
    width:20px;
    height:2px;
    background-color: #ffffff;
}

#navigation {
    -webkit-box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    position: fixed;
    top:46px;
    right:0px;
    height:100%;
    width:180px;
    background-color:#f8f8f8;
    border-bottom:1px solid #f0f0f0;
    color:#ffffff;
    padding:6px;
    z-index:100;
    display:none;
}
#navigation #navigation-menu {
    color:#333;
}
#navigation #navigation-menu .navigation-category {
    font-weight: bold;
    padding:0;
    margin:0;
    border-bottom:1px solid #e8e8e8;
    cursor:pointer;
}
#navigation #navigation-menu .navigation-link {
    padding:0 0 0 6px;
    margin:0;
    border-bottom:1px solid #f0f0f0;
    cursor:pointer;
}

#navigation #notice-icon {
    cursor:pointer;
    color:#888;
    position: fixed;
    bottom:45px;
    height:40px;
}
#navigation #notice-icon-img {
    height:30px;
    width:30px;
}

#navigation #setting-icon {
    cursor:pointer;
    color:#333;
    position: fixed;
    bottom:5px;
    height:35px;
}

#navigation #setting-icon-img {
    height:33px;
    width:33px;
}

#contents {
    position: absolute;
    top:50px;
    left:0px;
    height:100%;
    width:100%;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: initial;
    scrollbar-width: initial;
    padding-bottom:10px;
}

#contents::-webkit-scrollbar {
    display:none;
}

/* message area */
#message {
    -webkit-box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    border-color: #dddddd;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    margin: 5px 10px;
    padding:0 2px;
}
#message #info {
    color:#000000;
}
#message #error {
    color:#ff4040;
    font-weight:bold;
}

.contents_header {
    background-color:#60c8f0;
    border-bottom: 1px solid #f0f0f0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    color:#f0f0f0;
    padding:0;
}

/*
TODO: footer検討
            <div id="toggle-footer">↑</div>
            <div id="footer">

            </div>
*/

#toggle-footer {
    display:block;
    position:fixed;
    font-size:24px;
    font-weight: bolder;
    line-height: 36px;
    text-shadow: 0px 0px 20px rgba(255,255,0,1);
    background-color:#60c8f0;
    border-color: #dddddd;
    border: 1px solid #f0f0f0;
    bottom:0px;
    text-align: center;
    right:20px;
    width:40px;
    height:40px;
}

/* common parts */
.link_button {
    cursor: pointer;
    -webkit-box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    margin:0;
    border-radius: 1px;
    color: #00c0f0a0;
}
.link_button:hover {
    color: #00c0f0f0;
    text-decoration: none;
    animation: link_button_hover 100ms ease-out 50ms 1 alternate both;
} 
@keyframes link_button_hover {
    100% {background-color: #f8f8f8;}
}
.link_button:active {
    animation: link_button_active 50ms ease-out 25ms 1 alternate both;
} 
@keyframes link_button_active {
    100% {background-color: #f8f8f8; opacity:0.75}
}

.submit_button {
    cursor: pointer;
    font-family:'Century Gothic','メイリオ', 'Meiryo', sans-serif;
    -webkit-box-shadow: rgba(64,128,64,0.05) 0 3px 1px;
    box-shadow: rgba(64,128,64,0.3) 0 2px 1px;
    -webkit-appearance:button;
    background-color: #50c0f0;
    border: 0px solid #40a0d0;
    margin:0;
    border-radius: 5px;
    color: #ffffff;
}

.submit_button:hover {
    color: #f0f0f0;
    text-decoration: none;
    animation: submit_button_hover 100ms ease-out 50ms 1 alternate both;
} 
@keyframes submit_button_hover {
    100% {background-color: #48b8e8;}
}

.submit_button:active {
    color: #f0f0f0;
    text-decoration: none;
    position:relative;
    top:1px;
    left:1px;
} 

.submit_button_clicked {
    cursor: wait;
    font-family:'Century Gothic','メイリオ', 'Meiryo', sans-serif;
    -webkit-box-shadow: rgba(64,128,64,0.05) 0 3px 1px;
    box-shadow: rgba(64,128,64,0.3) 0 2px 1px;
    -webkit-appearance:button;
    background-color:#808080;
    border: 0px solid #404040;
    margin:0;
    border-radius: 5px;
    color: #ffffff;
}

.cancel_button {
    cursor: pointer;
    font-family:'Century Gothic','メイリオ', 'Meiryo', sans-serif;
    -webkit-box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    box-shadow: rgba(32,32,64,0.05) 0 3px 1px;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    margin:0;
    border-radius: 6px;
    color: #808080;
}

.cancel_button:active {
    position:relative;
    top:1px;
    left:1px;
} 

.cancel_button:hover {
    color: #808080;
    text-decoration: none;
    animation: cancel_button_hover 100ms ease-out 50ms 1 alternate both;
} 
@keyframes cancel_button_hover {
    100% {background-color: #e8e8e8;}
}

.label {
    /* TODO:help balloon */
    cursor: help;
    font-weight: bold;
}
.balloonTip {
    opacity:0.9;
    background-color: #00c0f0a0;
}

.input input {
    cursor: auto;
}
